@import url(http://fonts.googleapis.com/css?family=Noto+Sans);
/**
 * General elements
 */
body {
  font-family: "Noto Sans", Serif, Georgia;
  background: #ffffff;
  background: radial-gradient(ellipse at center, #ffffff 0%, #eee 100%);
  background: -moz-radial-gradient(#eee, #fff);
  font-style: normal;
  color: #333;
}
 
/**
 * Layout of the main page elements 
 */
#wrapper {
  margin: 0 auto;
  width: 980px; 
  padding: 10px;
}
 
 
/**
 * Layout for header
 */
#header {
  position: relative;
  margin-bottom: 40px;
}
 
.sitetitle {
  position: absolute;
  top: 6px;
  left: 130px;
  font-size: 48px;
}
 
.siteslogan {
  position: absolute;
  top: 65px;
  left: 130px;
  font-style: italic;
  color: #666;
}
 
 
/**
 * Layout for main
 */
#main {
  min-height: 20em;
}
 
 
/**
 * Layout for footer
 */
#footer {
  margin-top: 40px;
  border-top: 1px solid #ccc;
  padding-top: 15px;
}
 
.sitefooter {
  color: #666;
}

/*Menu bar*/
#menu {
  text-align: center;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.menu-items {
  padding: 6px 3px 6px 3px;
  margin-left: 15px;
  margin-right: 15px;
  text-transform: uppercase;
}

.menu-items a {
  margin: 5px;
  text-decoration: none;
  color: #555;
  text-shadow: 0 -1px 0 #9e3825;
  text-shadow: 0 -1px 0 rgba(116, 37, 2, 0.7);
  
}

.menu-items a:hover {
  color:#090909; 
  text-shadow: 0 -1px 0 #97321f;
  text-shadow: 0 -1px 0 rgba(122, 42, 26, 0.64);
  text-shadow: 0 1px 0 black;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.selected {
  font-size: 22px;
}

